<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Bootstrap Sidebar</h3>
    </div>

    <ul class="list-unstyled components">
      <!-- Picture -->
      <img src="https://via.placeholder.com/80" alt="">

      <!-- Courses -->
      <h2>Courses</h2>
      <li *ngFor="let course of courses">{{course.department}} {{course.id}}</li>

    </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">
    <ng-content></ng-content>
  </div>
</div>
