<app-navigation></app-navigation>

<div class="container main-div">

  <h1 class="form-heading">Login Page</h1>

  <div class="login-form">

    <form id="Login">

      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
          <div class="form-check-inline">

            <!-- Professor Radio -->
            <label class="customradio"><span class="radiotextsty">Professor</span>
              <input type="radio" [(ngModel)]="userType" name="userType" value="professor" checked>
              <span class="checkmark"></span>
            </label>        

            <!-- Student Radio -->
            <label class="customradio"><span class="radiotextsty">Student</span>
              <input type="radio" [(ngModel)]="userType" name="userType" value="student">
              <span class="checkmark"></span>
            </label>

          </div>

        </div>
      </div>

      <!-- Email -->

      <div class="form-group">
        <label for="email"></label>
        <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Email Address">
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password"></label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
      </div>

      <!-- Reset Password -->
      <div class="forgot">
        <a>Forgot password?</a>
      </div>

      <!-- Login Button -->
      <button type="submit" class="btn btn-primary" (click)="onLogin()">Login</button>

    </form>

  </div>

</div>
