<app-navigation></app-navigation>
<app-sidebar>

  <div class="container">

    <div class="row">
      <p class="class-title">{{course.department}} {{course.id}}</p>
      <div class="students-box">
        <p class="students">{{course.attendence}} students</p>
      </div>
    </div>

    <div class="row form-row">
      <div class="col-2"></div>
      <div class="col-8">
        <form>
          <div class="form-group row">
            <!-- Check-in Code -->
            <label class="col-4 col-form-label" for="check-in">Check-In Code</label>
            <div class="col-8">
              <input class="form-control" type="text" name="code" placeholder="XXXXXX">
            </div>

            <!-- File -->
            <label class="col-4 col-form-label" for="upload-file">Upload File</label>
            <div class="col-8">
              <input type="file" class="form-control" name="file">
            </div>
          </div>

          <!-- Start Button -->
          <button type="submit" class="btn btn-info" id="start-button" (click)="onStart()">Start</button>

        </form>
      </div>
      <div class="col-2"></div>
    </div>

  </div>



</app-sidebar>
