<app-navigation></app-navigation>
<app-sidebar>

  <div class="row">MGT 160 285 students</div>
  <div class="row">
    <form id="Login">

      <!-- Email -->

      <div class="form-group">
        <label for="check-in"></label>
        <input type="text" class="form-control" [(ngModel)]="code" name="code" placeholder="Email Address">
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="upload-file"></label>
        <input type="file" class="form-control" [(ngModel)]="file" name="file" placeholder="Password">
      </div>

      <!-- Login Button -->
      <button type="submit" class="btn btn-info" (click)="onStart()">Start</button>

    </form>
  </div>



</app-sidebar>
