<div class="row">

  <div class="col-md-3">
    <div class="center">
      <br /> 
      <!-- Profile Image -->
      <div class="profile-img">
        <img src="assets/blueuser.png" alt="">
      </div>
      <!-- END Profile Image -->

      <!-- Sidebar Title -->
      <div class="title center">
        Course
      </div>
      <!-- END Sidebar Title -->

      <!-- Sidebar Menu -->
      <div class="menu">
        <ul>
          <!-- Courses -->
          <li *ngFor="let course of courses" (click)="onCourseClick(course)">{{course.department}} {{course.id}}</li>
        </ul>
      </div>
      <!-- Sidebar Menu -->
    </div>
  </div>

  <!-- Content -->
  <div class="col-md-9">
    <ng-content></ng-content>
  </div>

</div>
