.profile {
  margin: 20px 0;
}

.profile-img img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.center {
  text-align: center;
}

.title {
  margin-top: 20px;
  color: #5a7391;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 7px;
}

.course {
  margin-top: 30px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  border-bottom: 1px solid #f0f4f7;
  font-weight: bold;
}

.menu ul li:last-child {
  border-bottom: none;
}

/* For course */
.light-gray {
  background-color: #F1F1F1;
}

.dark-gray {
  font-size: 100px;
  background-color: #C4C4C4;
}
