#slides {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 550px;
}

.container {
  min-width: 1200px;
  padding-top: 5vh;
  height: 90vh;
}

.truncate {
  position: relative;
  width: 115%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-question {
  display: block;

  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 100%;
  height: 60px;

  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.2;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row#course-title {
  min-height: 7vh;
}
#course-title h1 {
  font-size: 48px;
  font-weight: bold;
  color:black;
}

#lecture {
  font-size: 24px;
}

.row#course-status {
  min-height: 5vh;
}

#hand-div {
  text-align: center;
  min-height: 12vh;
}

#hand-div img {
  max-width: 80px;
  display: block;
}

#hand-div button {
  margin: auto;
  display: block;
}

#questions {
  padding: 0;
  margin-left: 2vw;
  margin-right: -2vw;
}

.question {
  width: 100%;
}

.row.status {
  padding-left: 20px;
  width: 100%;
}

#check {
  margin-bottom: 12px;
  color: #36EA9E;
}

#change-view {
  margin-top: 50px;
}

#back-view button {
  min-height: 30px;
  background: darkgray;
  font-weight: bold;
}

h1 {
  font-family: montserrat;
  font-weight: bold;
  color: #f0ad4e;
}

#lecture {
  text-align: center;
  font-weight: bold;
  color: #f0ad4e;
}

.question-content {
  padding-left: 12px;
}

.question-duration {
  display: inline;
}

button,
input {
  background: none;
  border: none;
  padding: none;
}

#more {
  background-color: darkgray;
  font-weight: bold;
}
