<div class="container">
  <div class="row">
    <!-- Main Screen -->
    <div class="col-md-9">

      <div class="row" id="course-title">
        <h1 class="mx-auto">CSE 170</h1>
      </div>


      <div class="row" id="course-status">
        <div class="col-md-4">
          <h2>Time: {{lecture.time.getHours()}}:{{lecture.time.getMinutes()}}</h2>
        </div>
        <div class="col-md-4" id="lecture">
          <p>{{lecture.title}}</p>
        </div>
        <div class="col-md-4">
          <h3>Online: {{lecture.nbrOnline}}</h3>
        </div>
      </div>

      <div class="row">
        <iframe id="slides" src="https://onedrive.live.com/embed?cid=B3661CC19E37AC5B&resid=B3661CC19E37AC5B%2172589&authkey=AEALH5JUh61hZ4c&em=2"
          width="800" height="600" frameborder="0" scrolling="auto">
        </iframe>
      </div>
      <br />
      <div class="row">
        <div type="button" class="btn btn-success mx-auto" routerLink="/prof-after">Done</div>
      </div>
    </div>

    <!-- Questions -->
    <div class="col-md-3" id="questions">

      <!-- Hand -->
      <div class="row" id="hand-div">
        <button (click)="showNormalQuestions()"><img src="assets/handraiseb.png" alt="raise hand" class="mx-auto" id="hand">
        </button>
      </div>

      <!-- Question List -->
      <div *ngIf="showQuestions" class="row">

        <!-- Question Item -->
        <div *ngFor="let question of questions | slice:0:4" class="row question" (click)="onQuestionClick()">
          <!-- Question -->
          <div class="col-md-10">

            <!-- Content -->
            <div class="row">
              <div class="col-md-2">
                <button *ngIf="question.index < 10">Q0{{question.index}}</button>
                <button *ngIf="question.index >= 10">Q{{question.index}}</button>
              </div>
              <div class="col-md-10">
                <p class="truncate-question question-content">{{question.content}}</p>
              </div>

            </div>

            <!-- Status -->
            <div class="row">
              <!-- Duration -->
              <div class="col-md-4 question-duration">
                <p *ngIf="question.duration <= 1" class="truncate">
                  <img src="assets/clock.png" width="25" height="25" alt="clock">Now

                  <p *ngIf="question.duration > 1" class="truncate">
                    <img src="assets/clock.png" width="25" height="25" alt="clock">{{question.duration}}</p>
              </div>

              <!-- Answers -->
              <div class="col-md-4">
                <p class="truncate">
                  <img src="assets/answer.png" width="20" height="20" alt="answer">
                  {{question.nbrAnswers}}
                </p>
              </div>

              <!-- Likes -->
              <div class="col-md-4">
                <p class="truncate">
                  <img src="assets/thumbup.png" width="20" height="20" alt="likes">
                  {{question.nbrLikes}}
                </p>
              </div>
            </div>
          </div>

          <!-- Vertical check/delete -->
          <div class="col-md-2">

            <!-- Check Button -->
            <div class="row" id="check">
              <button (click)="checkQuestion(question.index)">
                <img src="assets/checkblackg.png" width="30" height="30" alt="check">
              </button>
            </div>

            <!-- Delete Button -->
            <div class="row">
              <button (click)="deleteQuestion(question.index)">
                <img src="assets/xblackr.png" width="30" height="30" alt="delete">
              </button>
            </div>

          </div>

        </div>

        <!-- More -->
        <div class="row mx-auto">
          <button (click)="onMoreClick()" id="more">More</button>
        </div>

      </div>

      <!-- Checked List -->
      <div *ngIf="showChecked" class="row">

        <!-- Question Item -->
        <div *ngFor="let question of checked | slice:0:4" class="row question">

          <!-- Question -->
          <!-- Content -->
          <div class="row">
            <div class="col-md-2">
              <button *ngIf="question.index < 10">Q0{{question.index}}</button>
              <button *ngIf="question.index >= 10">Q{{question.index}}</button>
            </div>
            <div class="col-md-10">
              <p class="truncate-question">{{question.content}}</p>
            </div>

          </div>

          <!-- Status -->
          <div class="row">
            <!-- Duration -->
            <div class="col-md-4">
              <p *ngIf="question.duration <= 1" class="truncate">
                <img src="assets/clock.png" width="25" height="25" alt="clock">Now

                <p *ngIf="question.duration > 1" class="truncate">
                  <img src="assets/clock.png" width="25" height="25" alt="clock">{{question.duration}}</p>
            </div>

            <!-- Answers -->
            <div class="col-md-4">
              <p class="truncate">
                <img src="assets/answer.png" width="20" height="20" alt="answer">
                {{question.nbrAnswers}}
              </p>
            </div>

            <!-- Likes -->
            <div class="col-md-4">
              <p class="truncate">
                <img src="assets/thumbup.png" width="20" height="20" alt="likes">
                {{question.nbrLikes}}
              </p>
            </div>
          </div>
        </div>

      </div>

      <!-- Deleted List -->
      <div *ngIf="showDeleted" class="row">

        <!-- Question Item -->
        <div *ngFor="let question of deleted | slice:0:4" class="row question">

          <!-- Question -->
          <!-- Content -->
          <div class="row">
            <div class="col-md-2">
              <button *ngIf="question.index < 10">Q0{{question.index}}</button>
              <button *ngIf="question.index >= 10">Q{{question.index}}</button>
            </div>
            <div class="col-md-10">
              <p class="truncate-question">{{question.content}}</p>
            </div>

          </div>

          <!-- Status -->
          <div class="row">
            <!-- Duration -->
            <div class="col-md-4">
              <p *ngIf="question.duration <= 1" class="truncate">
                <img src="assets/clock.png" width="25" height="25" alt="clock">Now

                <p *ngIf="question.duration > 1" class="truncate">
                  <img src="assets/clock.png" width="25" height="25" alt="clock">{{question.duration}}</p>
            </div>

            <!-- Answers -->
            <div class="col-md-4">
              <p class="truncate">
                <img src="assets/answer.png" width="20" height="20" alt="answer">
                {{question.nbrAnswers}}
              </p>
            </div>

            <!-- Likes -->
            <div class="col-md-4">
              <p class="truncate">
                <img src="assets/thumbup.png" width="20" height="20" alt="likes">
                {{question.nbrLikes}}
              </p>
            </div>
          </div>
        </div>

      </div>


      <!-- Change View -->
      <div class="row" id="change-view">

        <div class="col-md-3">
          <p>Select to View</p>
        </div>

        <div class="col-md-1" id="check-view">
          <button (click)="showCheckedQuestions()"><img src="assets/checkblackg.png" width="30" height="30" alt="check"></button>
        </div>

        <div class="col-md-1" id="delete-view">
          <button (click)="showDeletedQuestions()"><img src="assets/xblackr.png" width="30" height="30" alt="delete"></button>
        </div>


        <!-- Question View-->
        <div class="col-md-1" id="back-view">
          <button (click)="showNormalQuestions()">Back</button>
        </div>

      </div>


    </div>

  </div>
</div>
